<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h1>Passagens vendidas</h1>
        </div>
    </nav>
</div>
<!--<md-divider></md-divider>-->
<div layout="column">

    <md-content flex>
        <md-list>
            <md-list-item class="md-3-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Arthur Martins</h3>
                    <h4>Pago</h4>
                    <p>Campina Grande - João Pesssoa</p>
                </div>
            </md-list-item>
            <md-button class="md-raised md-primary">Imprimir comprovante</md-button>

            <md-divider inset></md-divider>

            <md-list-item class="md-3-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Arthur Martins</h3>
                    <h4>Pendente</h4>
                    <p>Campina Grande - João Pesssoa</p>
                </div>
            </md-list-item>
            <md-button class="md-raised md-primary">Imprimir comprovante</md-button>
            <md-button class="md-raised md-primary">Pagar</md-button>

            <md-divider inset></md-divider>

            <md-list-item class="md-3-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Arthur Martins</h3>
                    <h4>Pago</h4>
                    <p>Campina Grande - João Pesssoa</p>
                </div>
            </md-list-item>
            <md-button class="md-raised md-primary">Imprimir comprovante</md-button>

            <md-divider inset></md-divider>

            <md-list-item class="md-3-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Arthur Martins</h3>
                    <h4>Pendente</h4>
                    <p>Campina Grande - João Pesssoa</p>
                </div>
            </md-list-item>
            <md-button class="md-raised md-primary">Imprimir comprovante</md-button>
            <md-button class="md-raised md-primary">Pagar</md-button>

            <md-divider inset></md-divider>

            <md-list-item class="md-3-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Arthur Martins</h3>
                    <h4>Pago</h4>
                    <p>Campina Grande - João Pesssoa</p>
                </div>
            </md-list-item>
            <md-button class="md-raised md-primary">Imprimir comprovante</md-button>

            <md-divider inset></md-divider>

            <md-list-item class="md-3-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Arthur Martins</h3>
                    <h4>Pendente</h4>
                    <p>Campina Grande - João Pesssoa</p>
                </div>
            </md-list-item>
            <md-button class="md-raised md-primary">Imprimir comprovante</md-button>
            <md-button class="md-raised md-primary">Pagar</md-button>

            <md-divider inset></md-divider>

        </md-list>
    </md-content>
</div>

<!--

<div flex>

</div>
<div>
    <md-content>
        <md-list flex>
            <md-list-item class="md-2-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Nome</h3>
                    <h4>Artur Martins</h4>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
                <div class="md-list-item-text">
                    <h3>Nome</h3>
                    <h4>Adriana Martins</h4>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
-->