<md-toolbar>

    <div class="md-toolbar-tools">
        <span>My App's Title</span>

        <!-- fill up the space between left and right area -->
        <span flex></span>
    </div>

</md-toolbar>

<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Portal">
            <div ng-include="'app/components/portal/portal.html'"></div>
        </md-tab>
        <md-tab label="Administrativo">
            <div ng-include="'app/components/adm/adm.html'"></div>
        </md-tab>
    </md-tabs>
</md-content>